.verifiedpayouts {
  height: max-content;
  padding-bottom: 200px;
}

.verifiedpayoutsmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.verifiedpayoutcontainer {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: absolute;
  top: 330px;
  z-index: 999;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsiveTableWrapper {
  padding: 16px;
  border-radius: 12px;
  overflow-x: auto;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.responsiveTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  min-width: 600px;
}

.responsiveTable thead {
  background-color: #693bb8;
  color: white;
}

.responsiveTable th,
.responsiveTable td {
  text-align: left;
  padding: 12px 16px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .responsiveTable {
    font-size: 12px;
    min-width: unset;
  }

  .responsiveTableWrapper {
    padding: 8px;
  }
}

