.assignadsmain {
  height: max-content;
  padding-bottom: 20px;
}

.assignadscontainermain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.assignads {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: absolute;
  top: 330px;
  z-index: 999;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payoutTableSection h2 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.payoutTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.payoutTable th,
.payoutTable td {
  padding: 12px 16px;
  text-align: center;
}
.payoutTable td {
  color: #000;
}

.payoutTable th {
  background-color: #693bb8;
  color: white;
}

.payoutTable tbody tr {
  border-bottom: 1px solid #ccc;
}

.redeemBtn,
.cancelBtn {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.redeemBtn {
  background-color: transparent;
  color: #693bb8;
  border: 1px solid #693bb8;
}
