.contestmain {
  height: max-content;
  padding-bottom: 200px;
}

.contestcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contestsection {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: absolute;
  top: 330px;
  z-index: 999;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contestheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.sectionscontest {
  display: grid;
  gap: 20px;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.contestcard {
  background-color: #f6eaff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  height: 350px;
}

.cardheader {
  background: linear-gradient(135deg, #6d28d9, #7e22ce);
  color: white;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: 600;
}

.cardbody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.iconcircle {
  background-color: #f97316;
  color: white;
  font-size: 22px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrycount {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.entryrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 4px 0;
}

.selectbtn {
  background-color: transparent;
  border: 1px solid #7c3aed;
  color: #7c3aed;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 13px;
  cursor: pointer;
}

.stopbtn {
  margin: 10px auto 0;
  background: transparent;
  border: 1px solid #7c3aed;
  color: #7c3aed;
  padding: 6px 20px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.createcard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  border: 2px dashed #aaa;
  border-radius: 20px;
}

.createbtn {
  background: white;
  border: 1px solid #6b7280;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contestlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  padding: 8px;
}

.contestscore,
.selectiontype,
.entrydetails {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

.createcontest {
  margin-top: 20px;
  margin-left: 30px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


