.selectwinner {
  height: max-content;
  padding-bottom: 200px;
}

.selectedwinnermain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectedcontainer {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: absolute;
  top: 330px;
  z-index: 999;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.userCard {
  background: #f9f9f9;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  
}

.userCard:hover {
  background-color: #eef;
}
