.customtabs {
  color: red;
}

.adminadsmain {
  height: max-content;
  padding-bottom: 20px;
}

.adminadscontainermain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Adminads {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: absolute;
  top: 330px;
  z-index: 999;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
