.notificationmain {
  height: max-content;
  padding-bottom: 200px;
}

.notificationcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notificationform {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: absolute;
  top: 330px;
  z-index: 999;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.inputnotification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.subbutton {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 50px;
}

.subbutton Button {
  background-color: #693bb8;
  color: white;
}
